list-style-radio {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .list-style-radio {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
}